/* LoadingSpinner.css */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.113);
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.loading-svg {
  height: 120px;
  width: 120px;
  animation: pulse 2s ease-in-out infinite;
}

.loading-container h2 {
  color: #676FFF;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes fadeInOut {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}